[run]
source = opensiddur
omit = 
    opensiddur/tests/*
    */__pycache__/*
    */test_*.py
    opensiddur/importer/wlc/download_tanach.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov

